
<%- include('partials/header.ejs') %>.
  <body>


<main role="main" class="container mt-5">

  <div class="starter-template">
    <h1>About the company </h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main>
<%- include('partials/footer.ejs') %>.
